h1{
     font-family: "Libre Baskerville", serif;
     color: white;
     text-align: center; 
     text-transform: uppercase;
      }

html{
    background-color: black;
}      

p{
    color: white;
    text-align: center;
    font-family: "Libre Baskerville", serif;
}

img{
    border: 5px solid white;
   width: 100%;
}

.poster{
    margin-left: 25%;
    margin-top: 100px;
    width: 50%;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    color: white;
}